.nav {
    margin: 0;
    padding: 0;
    list-style-type: none; 
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.166rem;
    text-align: center;

    .nav-item {
        padding: .46875rem 0;
    }

    .nav-icon {
        font-size: 1.3125rem;
        margin-right: .875rem;
    }
    
    .nav-link {
        color: $white;
        text-decoration: none;
    
        &:hover {
            color: $accent;        
        }
    
        span:nth-child(n) {
            vertical-align: middle;
        }
    }
}



