@import "fonts";
@import "icons";
@import "animations";
@import "components/nav";
@import "components/navbar";
@import "components/cards";

body {
    background-color: $dark;
    color: $white;
}

h1 {
    text-align: center;
    font-size: 1.75rem;   
}

h2 {
    text-align: center;
    font-size: 1.625rem;
}

.img {
    width: 100%;
    height: auto;
}

.icon-mouse {  
    font-size: 2.5rem;
    color: $accent; 
    cursor: pointer;    
}

.header {
    position: relative;
    min-height: 435px;
    padding: 174px 0 22.5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .header-bg-layer {
        z-index: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), linear-gradient(0deg, rgba(36, 43, 51, 0.78), rgba(36, 43, 51, 0.78));
    }

    .header-content-layer {
        z-index: 2;
        position: relative;
    }

    .header-content {
        margin: 0 auto;
        max-width: 24rem;
    }

    .header-mouse {
        margin-top: 6.25rem;
        text-align: center;
        display: none;
    }

    .header-nav {
        margin-top: 5.09375rem;
    }
}

.photo-section {
    padding-top: 40px;
    padding-bottom: 19px;

    .photos {
        margin-top: 30px;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .photo-link {
        z-index: 1;
        display: block;
        position: relative;
        margin-bottom: 15px;
        color: $white;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;

        &:hover {
            color: $white;
        }

        .photo-bg-layer {  
            z-index: 2;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
        }

        .photo-text {
            z-index: 3;
            position: absolute;
            left: 30px;
            bottom: 26px;
        }
    }
}


@include media-breakpoint-up(md) {
    h1 {        
        font-size: 3rem;   
    }

    .header {
        min-height: 840px;
        padding: 296px 0 66.5px;

        .header-bg-layer {
            background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%);
        }

        .header-content {
            min-width: 34.75rem;
        }

        .header-mouse {
            display: block;
        }

        .header-nav {
            margin-top: 12.5rem;
        }
    }

    .photo-section {   
        .photos {
            padding: 0;
        } 

        .photo {
            margin-bottom: 30px;            
        }
    }
}

@include media-breakpoint-up(lg) {
    h2 {
        text-align: start;
        font-size: 2.25rem;
    }

    .photo-section {  
        padding-top: 60px;
        padding-bottom: 80px;

        .photos {
            margin-top: 100px;
        }

        .photo-text {
            font-size: 1.5rem;
            left: 50px;
            bottom: 50px;
        }        
    }
}


