//Grid
$grid-gutter-width:            1.875rem;

//Colors
$accent:                     #D4C17F;
$black:                      #000;
$dark:                       #242B33;
$gray:                       #BEBEBE;
$light:                      #E7E7E7;
$white:                      #fff;

//Headings  
$headings-margin-bottom:      0;
$headings-font-family:        'Playfair Display', serif;
$headings-font-weight:        bold;
$headings-line-height:        1.3;
$headings-color:              $accent;