//reboot
$enable-smooth-scroll:       false;

//Grid
$grid-gutter-width:          1.875rem;

//Colors
$accent:                     #D4C17F;
$black:                      #000;
$dark:                       #242B33;
$gray:                       #BEBEBE;
$light:                      #E7E7E7;
$white:                      #fff;

//Headings  
$headings-margin-bottom:      0;
$headings-font-family:        'Playfair Display', serif;
$headings-font-weight:        bold;
$headings-line-height:        1.3;
$headings-color:              $accent;

//transition
$transition-collapse:         height .35s ease;
$transition-collapse-width:   width .35s ease;
$transition-navbar:           box-shadow, padding .25s ease;
$transition-navbar-toggler:   all .35s ease;
//$transition-logo:             all .25s ease;
//$transition-navbar-shadow:    padding-bottom .35s ease;